.app-container {
    height: 100%;
    width: 100%;
    /* padding essentailly will act as the width: 60% but this allows the navbar button shadow to not be cut off making it look better when on calculator page */
    padding: 2% 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content-area {
    flex: 1;
    width: 100%;
    margin: 0 auto;
    overflow-y: auto;
    /* padding: 20px; */
}

/* scrollbar */
.content-area::-webkit-scrollbar {
    width: 8px;
    color: var(--muted);
}

.content-area::-webkit-scrollbar-track {
    background: transparent;
    /* Track background */
}

.content-area::-webkit-scrollbar-thumb {
    background-color: var(--muted);
    /* Thumb color */
    border-radius: 4px;
    /* Rounded corners */
    border: 2px solid transparent;
    /* Creates padding effect */
    background-clip: content-box;
}

/* Hover effect on the scrollbar thumb */
.content-area::-webkit-scrollbar-thumb:hover {
    background-color: var(--text);
    /* Lighter color on hover */
}

/* Add a fade animation when components change */
.content-area>* {
    animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}